<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statistics">

    <select id="findSubsByMonth" resultType="com.flo.alwaysbom.statistics.vo.SubsByMonthVo">
        <![CDATA[
        select NVL(X.cnt, 0) as value, D.mt as label
        from (
                 select TO_CHAR(SYSDATE - (interval '1' month) * (level - 1), 'YY/MM') as mt
                 from dual
                 connect by level <= 6
             ) D
                 LEFT JOIN
             (
                 select count(I.idx) cnt, to_char(O.odate, 'YY/MM') as odate
                 from oitem I
                          inner join orders O on I.orders_idx = O.idx
                 where O.odate between TO_DATE(TO_CHAR(SYSDATE - (interval '5' month), 'YY/MM'), 'YY/MM') and SYSDATE
                   and I.category = '정기구독'
                 group by to_CHAR(O.odate, 'YY/MM')
             ) X
             ON D.mt = X.odate
        order by D.mt
        ]]>
    </select>

    <select id="findSubsBySize" resultType="com.flo.alwaysbom.statistics.vo.SubsByMonthVo">
        <![CDATA[
        select fsize as label, count(idx) as value from oitem
        where category = '정기구독'
        group by fsize
        order by decode(fsize, 'S', 1, 'M', 2, 'L', 3, 'XL', 4)
        ]]>
    </select>

    <select id="findStatisticsTable" resultType="com.flo.alwaysbom.statistics.vo.StatisticsVo">
        SELECT DUMMY.MT     AS 기간,
               NVL(판매수, 0)  AS 판매수,
               NVL(정기구독, 0) AS 정기구독,
               NVL(꽃다발, 0)  AS 꽃다발,
               NVL(소품샵, 0)  AS 소품샵,
               NVL(클래스, 0)  AS 클래스,
               NVL(총계, 0)   AS 총계
        FROM (SELECT NVL(P.기간, F.기간)                                        AS 기간,
                     NVL(P.판매수, 0) + NVL(F.판매수, 0)                          AS 판매수,
                     NVL(P.정기구독, 0)                                         AS 정기구독,
                     NVL(P.꽃다발, 0)                                          AS 꽃다발,
                     NVL(P.소품샵, 0)                                          AS 소품샵,
                     NVL(F.클래스, 0)                                          AS 클래스,
                     NVL(정기구독, 0) + NVL(꽃다발, 0) + NVL(소품샵, 0) + NVL(클래스, 0) AS 총계
              FROM (SELECT TO_CHAR(O.ODATE, 'YY/MM')                   AS 기간,
                           COUNT(I.IDX)                                AS 판매수,
                           SUM(DECODE(I.CATEGORY, '정기구독', I.PRICE, 0)) AS 정기구독,
                           SUM(DECODE(I.CATEGORY, '꽃다발', I.PRICE, 0))  AS 꽃다발,
                           SUM(DECODE(I.CATEGORY, '소품샵', I.PRICE, 0))  AS 소품샵
                    FROM OITEM I
                             INNER JOIN ORDERS O ON I.ORDERS_IDX = O.IDX
                    WHERE O.ODATE BETWEEN TO_DATE(TO_CHAR(SYSDATE - (INTERVAL '5' MONTH), 'YY/MM'), 'YY/MM') AND SYSDATE
                    GROUP BY TO_CHAR(O.ODATE, 'YY/MM')) P
                       FULL OUTER JOIN
                   (SELECT TO_CHAR(ORDER_DATE, 'YY/MM') AS 기간,
                           COUNT(IDX)                   AS 판매수,
                           SUM(DISCOUNT_TOTAL_PRICE)    AS 클래스
                    FROM OCLASS
                    GROUP BY TO_CHAR(ORDER_DATE, 'YY/MM')
                    ORDER BY TO_CHAR(ORDER_DATE, 'YY/MM')) F
                   ON P.기간 = F.기간) D
                 RIGHT JOIN
             (SELECT TO_CHAR(SYSDATE - (INTERVAL '1' MONTH) * (LEVEL - 1), 'YY/MM') AS MT
              FROM DUAL
        <![CDATA[CONNECT BY LEVEL <= 6)]]> DUMMY
             ON D.기간 = DUMMY.MT
        ORDER BY DUMMY.MT
    </select>
</mapper>