<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="choice">

    <select id="getChoiceById" resultType="com.flo.alwaysbom.choice.vo.ChoiceVo">
        SELECT * from CHOICE
        WHERE CART_IDX = #{cartIdx}
    </select>
    
    <update id="addChoice" parameterType="map">
        <foreach collection="productIds" item="productId" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
            INTO CHOICE VALUES(NULL, #{productId}, #{idx})
        </foreach>
    </update>

</mapper>