#bread-nav {
    display: flex;
    font-size: 18px;
    margin-top: 20px;
}
#bread-nav a {
    color: #4D4D4D;
    text-decoration: none;
}
#bread-nav a:hover {
    text-decoration: underline;
    color: #4D4D4D;
}
#bread-nav > ol {
    background-color: #dcdcdc;
    padding: 0.3em 0.8em;
    border-radius: 10px;
}
.description {
    color: #f13e5f;
    font-size: 16px;
    margin-left: 20px;
}
.img-card {
    width: 350px;
    height: 350px;
    margin-left: 1em;
}
.img-card a {
    z-index: 4;
    opacity: 0.8;
}
.imgs img {
    width: 350px;
    height: auto;
}