.main-img {
    width: 100vw;
    height: auto;
}
.ls-narrower {
    letter-spacing: -0.1px;
}
.subs-btn {
    background-color: #efeeeb;
    border: none;
    border-radius: 30px;
}
.thumbnails {
    width: 45%;
    height: 300px;
    background-color: #efeeeb;
    border: 1px solid black;
}
.next-btn {
    color: #efeeeb;
}
.flower-wrap {
    background-color: #efeeeb;
    padding: 100px 0;
}
.fclass-wrap {
    padding: 100px 0;
}
.see-more:hover {
    color: #7DAF3B;
}
.height-400px {
    height: 400px;
}