<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coupon">
    <insert id="addCoupon" parameterType="com.flo.alwaysbom.coupon.vo.CouponVo">
        INSERT INTO COUPON(IDX, NAME, MEMBER_ID, STATUS, POINT, CDATE)
        VALUES (null, #{name}, #{memberId}, #{status}, #{point}, #{cdate})
        <selectKey resultType="int" order="AFTER" keyProperty="idx" keyColumn="IDX">
            SELECT COUPON_SEQ.currval FROM DUAL
        </selectKey>
    </insert>
    
    <select id="findAll" parameterType="int" resultType="com.flo.alwaysbom.coupon.vo.CouponVo">
        SELECT * FROM COUPON
        <where>
            <if test="status != null">
                STATUS = #{status}
            </if>
        </where>
        ORDER BY IDX DESC
    </select>
</mapper>