<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orders-mapper">

    <select id="findDelivery" parameterType="com.flo.alwaysbom.member.vo.MemberVO" resultType="com.flo.alwaysbom.order.vo.DeliveryInfoVo">
        SELECT RECEIVER_NAME, RECEIVER_PHONE, RECEIVER_ZIPCODE, RECEIVER_ADDR_BASE,
               RECEIVER_ADDR_DETAIL, RECEIVER_ADDR_EXTRA
        FROM DELIVERY_INFO
        WHERE MEMBER_ID = #{id}
    </select>

    <select id="getPoint" parameterType="com.flo.alwaysbom.member.vo.MemberVO" resultType="int">
        SELECT POINT FROM MEMBER WHERE ID = #{id}
    </select>

    <insert id="insertOrder" parameterType="com.flo.alwaysbom.order.vo.OrdersVo">


    </insert>



</mapper>