<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
    <select id="allBestReview" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() over (ORDER BY STAR DESC) as RN, I.*
        FROM REVIEW I
        )
        WHERE RN BETWEEN 1 and 10
    </select>

    <select id="allReview" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto" parameterType="map">
        SELECT *
        FROM REVIEW
        <where>
            <if test="category != null">
                CATEGORY = #{category}
                <if test="idx != null">
                    AND SUBS_IDX = #{IDX} OR FLOWER_IDX = #{IDX} OR FCLASS_IDX = #{IDX} OR PRODUCT_IDX = #{IDX}
                </if>
            </if>
        </where>
        ORDER BY REG_DATE DESC
    </select>
    <select id="cateBestReview" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto" parameterType="string">
        SELECT *
        FROM (
                 SELECT ROW_NUMBER() over (ORDER BY STAR DESC) as RN, I.*
                 FROM REVIEW I
             )
        WHERE
        <if test="category != null">
            CATEGORY = #{category} AND
        </if>
        RN BETWEEN 1 and 10
    </select>
    <select id="cateAllReview" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto" parameterType="string">
        SELECT *
        FROM REVIEW
        <where>
            <if test="category != null">
                CATEGORY = #{category}
            </if>
        </where>
        ORDER BY REG_DATE DESC
    </select>

    <select id="oldListCnt" resultType="int">
        SELECT COUNT(IDX)
        FROM REVIEW
    </select>
    <select id="oldCateListCnt" resultType="int" parameterType="string">
        SELECT COUNT (IDX)
        FROM REVIEW
        <where>
            <if test="category != null">
                CATEGORY = #{category}
            </if>
        </where>
    </select>

    <select id="allCateReview" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto" parameterType="map">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() over (ORDER BY REG_DATE DESC) as RN, I.*
        FROM REVIEW I
        <where>
            <if test="category != null">
                CATEGORY = #{category}
            </if>
        </where>
        )
        WHERE RN BETWEEN #{startIndex} and #{endIndex}
    </select>

    <select id="searchReview" parameterType="string" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() over (ORDER BY REG_DATE DESC) as RN, I.*
        FROM REVIEW I
            WHERE (CATEGORY LIKE '%' || #{search} || '%') OR
                (NAME LIKE '%' || #{search} || '%') OR
                (NAME LIKE '%' || #{search} || '%') OR
                (MEMBER_ID LIKE '%' || #{search} || '%') OR
                (CONTENT LIKE '%' || #{search} || '%')
        )
    </select>

    <delete id="deleteReview" parameterType="int">
        DELETE FROM REVIEW WHERE IDX = #{idx}
    </delete>

    <select id="likeCount" parameterType="int" resultType="int">
        SELECT LIKE_COUNT FROM REVIEW WHERE IDX = #{reviewIdx}
    </select>

    <update id="likeUpdate" parameterType="map">
        UPDATE REVIEW SET LIKE_COUNT = #{review}
        WHERE IDX = #{reviewIdx}
    </update>
<!--    <select id="utilReview" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto" parameterType="map">-->
<!--        SELECT *-->
<!--        FROM REVIEW-->
<!--        <where>-->
<!--            <if test="category != null">-->
<!--                CATEGORY = #{category}-->
<!--            </if>-->
<!--        </where>-->
<!--        ORDER BY REG_DATE DESC-->
<!--    </select>-->
<!--    <insert id="addHome" parameterType="com.chicken.kyochon.vo.HomeVo">
        INSERT INTO HOME(name, age, filename)
        VALUES (#{name}, #{age}, #{filename})
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT HOME_ID_SEQ.currval from dual
        </selectKey>
    </insert>

    <select id="list" resultType="com.chicken.kyochon.vo.HomeVo">
        SELECT * FROM HOME ORDER BY ID DESC
    </select>-->
</mapper>